/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

.env
dist

.idea

.env.development
.env.production
guild-config.json

config/config.json
config/config.json.bak
config/extended-config.json
config/extended-config.json.bak
dist/
docs/
logs/
node_modules/

TODO.md
*.env*
!.env.example